.item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  height: 100px;
  width: 100%;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(59, 59, 59);
  box-shadow: rgb(53, 52, 52) 0 4px 4px 0;
}

.statusOn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.statusOff {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  height: 80px;
  width: 80px;
  background-color: rgb(226, 223, 223);
  border: 1px solid #111;
  border-radius: 8px;
}

.name {
  font-size: 28px;
  font-weight: 700;
}
